.simple {
  display: flex;
  align-items: center;
  // width: 100%;
  height: 100%;

  & > label {
    font-size: 18px;
    font-weight: 500;
    // padding: 20px;
    margin-right: 20px;
  }

  & > input {
    padding: 10px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid grey;

    margin-right: 20px;
  }
}

.multi {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div {
    display: flex;

    & > label {
      font-size: 18px;
      font-weight: 500;
      // padding: 20px;
      margin-right: 20px;
    }

    & > input {
      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
      padding: 10px;
      color: #000;
      background-color: #fff;
      border-radius: 20px;
      border: 2px solid grey;

      margin-right: 20px;
    }
  }
}
