.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > span {
      font-weight: 300;

      &.title {
        font-weight: 600;
      }
    }
  }

  & > img {
    width: 60px;
    height: 60px;
  }
}
